/* Especificidad = 1 */
main {
    width: 100%;
}

/* Especificidad = 1 */
article {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    margin-top: 1em;
}

/* Especificidad = 2 */
article img {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
    border-radius: 0.5em;
}

/* Especificidad = 1 */
button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 1em;
}

/* Especificidad = 11 */
button:active {
    transform: scale(1.1);
}

/* Especificidad = 11 */
button[data-action=prev] {
    top: 50%;
    left: 2%;
}

/* Especificidad = 11 */
button[data-action=next] {
    top: 50%;
    right: 2%;
}